name: Branchloan-CI Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ env.REGISTRY }}/${{ github.repository }}

jobs:
  test:
    name: Run test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install Dependencies
        run: |
          pip install -r requirements.txt

      - name: Run Tests
        run: |
          if [ -d "tests" ]; then pytest -q; else echo "No tests directory found"; fi

  build-scan-push:
    name: Build-> Scan-> PushImage
    needs: test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      # Login to GCHR
      - name: Log in to the GCHR
        if: github.event_name == 'push'
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}


      - name: Build Docker image
        run: |
          TAG=${GITHUB_SHA::7}
          echo "TAG=$TAG" >> $GITHUB_ENV
          docker build -t $IMAGE_NAME:$TAG .


      - name: Trivy Security Scan
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: "${{ env.IMAGE_NAME }}:${{ env.TAG }}"
          format: "table"
          # exit-code: "1"
          output: 'trivy-results.txt'
          severity: "CRITICAL,HIGH"

      - name: Upload Trivy scan results to GitHub Security tab
        uses: actions/upload-artifact@v4
        with:
          name: trivy-results
          path: trivy-results.txt

      - name: Push Image to GCHR
        if: github.event_name == 'push'
        run: |
          docker push $IMAGE_NAME:$TAG




